@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Fredoka;
    src: url(./fonts/Fredoka.ttf);
    font-size: large;
}

/* .bg-oxford{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.598);
    border: 0.5px solid #747474;

} */